footer{
    background-color: #353fc0;
}
.icon1{
    padding: 10px;
    border-radius: 13px;
    border: none;
    color: white;
    background-color: #6f42c1;
    margin-right: 10px;
}
button.btn1 {
    width: 80%;
    background-color: #353fc0;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
div.card1{
    background-color: #052c65;
    border: 2px solid #353fc0;
    box-shadow: 5px 5px #353fc0;
}
.input1 {
    background-color: black;
    border: none;
    margin-top: 8px;
    width: 100%;
    padding: 5px;
    font-weight: bolder;
}
.navbar-toggler{
    margin-right: 5px;
    background-color: #fff;
}
.navbar{
    padding: 10px;
    background-color: #353fc0;
}
ul{
    margin-left: 10px;
}
.input {
    background-color: black;
    border: none;
    margin-top: 8px;
    width: 100%;
    padding: 5px;
    color: white;
}
a.nav-link {
    color: white;
    font-weight: bolder;
}
.input2 {
    width: 100%;
    border: none;
    background-color: rgb(245, 252, 252);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.input4 {
    width: 100%;
    border: none;
    background-color: rgb(245, 252, 252);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
label {
    font-weight: bolder;
}

.btn1{
    width: 100%;
    border: none;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
}
.btn4{
    width: 80%;
    border: none;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
}
div#collapsibleNavbar {
     background-color: #353fc0;
}
