<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenTomes</title>
    <link rel="stylesheet" href="../static/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.7.2-web/css/all.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.7.2-web/css/brands.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.7.2-web/css/fontawesome.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.7.2-web/css/regular.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.7.2-web/css/solid.css">
    <link rel="stylesheet" href="../static/footer.css">
    <script defer src="../static/js/bootstrap.bundle.min.js"></script>
    <style>
        input#input2 {
            background-color: #353fc0;
            border: none;
            color: white;
            border-radius: 5px;
            padding: 5px;
            width: 100%;
        }
        input#input3 {
            border: none;
            border-radius: 5px;
            padding: 5px;
            width: 100%;
        }
        div.search {
            border-radius: 5px;
            border: 2px solid rgb(199, 187, 187);
            padding: 7px;
        }
    </style>
</head>
<body>
    <div class="">
     <nav class="navbar navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h2 style="font-weight: bolder; color: white;">OpenTomes</h2></a>

    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mx-auto">
        {% if 'email' not in session %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">HOME</a></li>
        {% else %}
        <li class="nav-item"><a href="{{ url_for('account') }}" class="nav-link" style="font-weight: bolder;">ACCOUNT</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('category') }}">LIBRARY</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">ABOUT US</a></li>
      </ul>

      <!-- Right-aligned button -->
      <div class="ms-auto">
        {% if 'email' not in session %}
        <a href="{{ url_for('signup') }}" class="bg-blue-600 text-white px-3 py-2 rounded-lg hover:bg-blue-700 transition" style="font-weight: bolder;">Sign in</a>
        {% else %}
        <a href="{{ url_for('logout') }}" class="bg-blue-600 text-white px-3 py-2 rounded-lg hover:bg-blue-700 transition" style="font-weight: bolder;">Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
    </div><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-12"><div class="search">
        <form  action="{{url_for('category')}}" method="POST">
            <div class="row">
            <div class="col-9"><input type="text" name="search" placeholder="Search By Book Title and Author Name ..."  id="input3"></div>
            <div class="col-3"><input type="submit" value="Search" name="" id="input2"></div>
        </div>
        </form>
      </div></div>
        <div class="col-md-3"></div>
    </div><br>
    <p class="text-center">NB: For Better and Precise Results Search Use Book Title Followed by Author Name e.g Harry Potter, J. K. Rowling</p><br><br>

    {% if results %}
    <div class="container">
    <div class="row">
        {% for result in results %}
        <div class="col-md-4 mb-4">
        <div class="card" style="box-shadow: 5px 5px #ececf0;">
          <div class="container"><br>
            <div class="text-center ratio ratio-1x1">
              {% if result['cover_id'] == "Paul" %}
            <img src="../static/Images/732e65ef2035a6a620d8cd6f2dd84e19 (1).png" alt="" class="img-fluid rounded" style="object-fit: cover"><br>
            {% else %}
            <img src="https://covers.openlibrary.org/b/id/{{ result['cover_id'] }}-M.jpg" alt="" class="img-fluid rounded" style="object-fit: cover"><br>
            {% endif %}
            </div>
            <div class="bg-white p-4 rounded shadow-sm hover-shadow transition">
                <p><strong class="fw-semibold">Author Name(s): </strong> {{ result['author'] }}</p>
                <p><strong class="fw-semibold">Title:</strong> {{ result['title'] }} </p>
                <p><strong class="fw-semibold">Ebook Access:</strong> {{ result['ebook_access'] }} </p>
                <p><strong class="fw-semibold">First Year to be Publish:</strong> {{ result['first_publish_year'] }} </p><br>
                <br>
            </div>
        </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

    {% else %}
        <p class="text-gray-600 text-center">Search Book You Wish to Read.</p>
    {% endif %}
</div><br><br><br><br>
</div>
</body>
<footer class="footer">
  <div class="container"><br>
    <h1 class="text-white text-center">Contact</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="container"><br>
        <h1 class="text-white">Got a Question!</h1>
        <h5 class="text-white">Drop Me a Message</h5>
      <p class="text-white">Discover Knowledge, inspire the Future</p>
      <p class="text-white"><span class="fas fa-phone icon"></span> +237 673254504</p>
      <p class="text-white"><span class="far fa-envelope icon"></span> paulndeh86@gmail.com</p>
      <p class="text-white"><span class="fas fa-location-arrow icon"></span> Quatre Etage, Bonaberi, Douala</p>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="container">
        <div class="card" style="background-color: #7949d3;"><br>
          <div class="container">
            <form action="" class="container">
            <input type="text" placeholder="Name" class="input">
            <input type="email" placeholder="Email" class="input">
            <textarea name="" id="" placeholder="Message" class="input" rows="4"></textarea><br>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8"><input type="submit" value="Send" class="input1 text-white"></div>
              <div class="col-2"></div>
            </div><br>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <hr style=" border: 0; border-top: 1px solid white;">
  <div class="row">
    <div class="col-md-4"><h3 class="text-white text-center">OpenTomes</h3></div>
    <div class="col-md-4"><p class="text-white text-center" style="margin-top: 8px;">2025-Fozil Studio, All rights reserved</p></div>
    <div class="col-md-4"><div class="d-flex justify-content-center"><a href="https://www.facebook.com/NdehPaulZuhwaimboh"><span class="fab fa-facebook text-white icon1"></span></a><a href="https://www.instagram.com/PappyZuh"><span class="fab fa-instagram text-white icon1"></span></a><a href="https://wa.me/673254504"><span class="fab fa-whatsapp text-white icon1"></span></a></div></div>
  </div><br>
  </div>

</footer>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
<!-- custom script here  -->
<script src="../static/js/jquery.js"></script>
</html>